<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>LCMS</title>

    <!-- Bootstrap -->
    <link href="~/Assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/Assets/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Assets/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="~/Assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Assets/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><span>LCMS</span></a>
                    </div>
                    <div class="clearfix"></div>


                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <!--<h3>General</h3> -->
                            @if (Session["aurole"] != null)
                            {
                                <ul class="nav side-menu">
                                    @if (Session["aurole"].ToString() == "Librarian")
                                    {
                                        <li>
                                            <a href="/ApplicationUser/LibrarianDashboard"><i class="fa fa-dashboard"></i> Dashboard </a>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-user"></i> Application User <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/ApplicationUser/Create">Add Application User</a></li>
                                                <li><a href="/ApplicationUser/UserIndex">Manage Application User</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-book"></i> Book Catalog <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/Bookcatalog/Create">Add Book Catalog</a></li>
                                                <li><a href="/Bookcatalog/BookCatalogIndex">Manage Book Catalog</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/TransactionHistory/TransactionHistoryIndex"><i class="fa fa-history"></i> Transaction history </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="/ApplicationUser/UserDashboard"><i class="fa fa-dashboard"></i> Dashboard </a>
                                        </li>
                                        <li>
                                            <a href="/BookCatalog/ShowCatalog"><i class="fa fa-dashboard"></i> Book Catalog </a>
                                        </li>
                                        <li>
                                            <a href="/TransactionHistory/UserTransactionHistoryIndex"><i class="fa fa-history"></i> Transaction history </a>
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                Context.Response.Redirect("/ApplicationUser/Login");
                            }
                        </div>
                    </div>
                    <!-- /sidebar menu -->


                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav" style="padding-bottom:10px">
                        <ul class=" navbar-right">
                            @if (Session["auname"] != null)
                            {
                                <li class="nav-item dropdown open" style="padding-left: 15px;padding-right: 15px;">
                                    <a href="" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">@*<img src="~/Image/user.png" alt="">*@
                                        @Session["auname"].ToString()
                                    </a>
                                    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/ApplicationUser/EditProfile/@Session["auid"]"><i class="fa fa-pencil-square-o pull-left"></i> Edit Profile</a>
                                        <a class="dropdown-item" href="/ApplicationUser/ChangePassword"><i class="fa fa-key pull-left"></i> Change Password</a>
                                        <a class="dropdown-item" href="/ApplicationUser/LogOut"><i class="fa fa-sign-out pull-left"></i> Log Out</a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Copyright &copy;All Rights Reserved.
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Assets/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Assets/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Assets/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Assets/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Assets/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Assets/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Assets/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Assets/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Assets/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Assets/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Assets/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Assets/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Assets/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Assets/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Assets/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Assets/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Assets/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Assets/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Assets/vendors/moment/min/moment.min.js"></script>
    <script src="~/Assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Datatables -->
    <script src="~/Assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Assets/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Assets/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Assets/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Assets/build/js/custom.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(function () {

            // Show mobile nav
            $("#mobile-nav-open-btn").click(function () {
                $("#mobile-nav").css("height", "100%");
            });

            // Hide mobile nav
            $("#mobile-nav-close-btn, #mobile-nav a").click(function () {
                $("#mobile-nav").css("height", "0%");
            });

    </script>
</body>
</html>
