
@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="">
            <div class="x_content">
                <div class="row">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                        <a href="/BookCatalog/ShowCatalog">
                            <div class="tile-stats" style="padding-bottom:20px">
                                <div class="icon">
                                    <i class="fa fa-book"></i>
                                </div>
                                <div class="count" style="color:#34495E ">@ViewBag.CatalogCount</div>
                                <h3 style="color:#73879C">Total Book Catalogs</h3>
                            </div>
                        </a>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                        <a href="/BookPlace/MyCheckOuts">
                            <div class="tile-stats" style="padding-bottom:20px">
                                <div class="icon">
                                    <i class="fa fa-share-square-o"></i>
                                </div>
                                <div class="count" style="color:#34495E ">@ViewBag.CheckOutCount</div>
                                <h3 style="color:#73879C">Total Checked Out Books</h3>
                            </div>
                        </a>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                        <a href="/TransactionHistory/UserTransactionHistoryIndex">
                            <div class="tile-stats" style="padding-bottom:20px">
                                <div class="icon">
                                    <i class="fa fa-list"></i>
                                </div>
                                <div class="count" style="color:#34495E ">@ViewBag.TransactionCount</div>
                                <h3 style="color:#73879C">Total Transactions</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


