@model IEnumerable<LCMS.Models.ApplicationUser.ApplicationUserDetail>

@{
    //ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section id="progress notes">
    <div class="content-box-md">
        <div class="container">
            @*<!-- header Row -->
                <div class="row">

                    <!-- Main heading -->
                    <div class="col-md-12">

                    </div>
                </div>*@
            <div class="table-box">
                <div class=" table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="10%">Active/Block</th>
                                <th>Name</th>
                                <th>Email Address</th>
                                <th>Phone Number</th>
                                <th width="10%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>                                    
                                    <td>
                                        @if (item.Status.Equals("A"))
                                        {
                                            <a href="/ApplicationUser/ChangeActivity/@Html.DisplayFor(modelItem => item.Id)" class="btn-sm btn-danger">Block</a>
                                        }
                                        @if (item.Status.Equals("B"))
                                        {
                                            <a href="/ApplicationUser/ChangeActivity/@Html.DisplayFor(modelItem => item.Id)" class="btn-sm btn-success">Active</a>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmailAddress)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        <a href="/ApplicationUser/Edit/@Html.DisplayFor(modelItem => item.Id)" class="btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                                        <a href="/ApplicationUser/Delete/@Html.DisplayFor(modelItem => item.Id)" class="btn-sm btn-danger"><i class="fa fa-trash"></i> </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




