@model IEnumerable<LCMS.Models.TransactionHistory.TransactionHistoryDetail>

@{
    ViewBag.Title = "TransactionHistoryIndex";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<body>
    <h2>Tranaction histories</h2>
    <div class="row">
        <div class="col-md-6">
            <input type="text" id="txtSearch" name="txtSearch" class="form-control" placeholder="Search" />
        </div>
        <button id="btnSearch" class="btn-sm btn-info" onclick="searchHistory(1)"><i class="fa fa-search"></i> Serach</button>
        <button id="btnClear" class="btn-sm btn-secondary" onclick="clearSearch()"><i class="fa fa-eraser"></i> Clear</button>
    </div>
    <br />
    <div id="divMess">
        <h6>No data found!!!</h6>
    </div>
    <div id="divData">
        <table class="table">
            <thead>
                <tr>
                    <th>Book name</th>
                    <th>ISBN number</th>
                    <th>Place code</th>
                    <th>Material type</th>
                    <th>Transaction type</th>
                    <th>User</th>
                    <th>Transaction date</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: list">
                <tr>
                    <td><span data-bind="text: BookPlace.BookCatalog.Name"></span></td>
                    <td><span data-bind="text: BookPlace.BookCatalog.ISBN"></span></td>
                    <td><span data-bind="text: BookPlace.PlaceCode"></span></td>
                    <td><span data-bind="text: BookPlace.MaterialType"></span></td>
                    <td><span data-bind="text: TransactionType"></span></td>
                    <td><span data-bind="text: ApplicationUser.Name"></span></td>
                    <td><span data-bind="date: TransactionDate"></span></td>
                </tr>
            </tbody>
        </table>
        <div id="paging-area"></div>
    </div>
</body>

@section Scripts {
    <script src="~/Assets/vendors/knockout/knockout-3.5.1.js"></script>
    <script src="~/Assets/vendors/moment/min/moment.min.js"></script>
    <script src="~/Assets/vendors/jquery.pagination/jquery.simplePagination.js"></script>
    <link href="~/Assets/vendors/jquery.pagination/simplePagination.css" rel="stylesheet" />
    <script>
        var historyListService = "";
        window.historyListService = "@Url.Action("GetTransactionHistoryIndex", "TransactionHistory")";

        $(document).ready(function () {
            $("#divMess").hide();
            ko.applyBindings(historyListVM);
            loadHistory();
            ko.bindingHandlers.date = {
                update: function (element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
                    var valueUnwrapped = ko.utils.unwrapObservable(valueAccessor());
                    var textContent = moment(valueUnwrapped).format("DD-MM-YYYY hh:mm:ss A");
                    ko.bindingHandlers.text.update(element, function () { return textContent; });
                }
            };
            
        });

        var historyListVM = {
            list: ko.observableArray([]),
            totalCount: ko.observable(0),
            currentPageIndex: ko.observable(1),
            getList: function (s) {
                var vm = historyListVM;
                var pNo = vm.currentPageIndex();
                var search = "";
                if (s != undefined)
                    search = s;
                $.ajax({
                    method: "GET",
                    url: historyListService,
                    data: { pageNo: pNo, search: search }
                }).done(function (response) {
                    if (response != null) {
                        if (response.Count >0) {
                            $("#divData").show();
                            $("#divMess").hide();
                            vm.list(response.TransactionHistoryList);                            
                            vm.totalCount(response.Count);
                            if (vm.currentPageIndex() === 1) {
                                initPaging();
                            }
                        }
                        else
                        {
                            $("#divData").hide();
                            $("#divMess").show();
                        }
                    }
                }).fail(function () {
                        alert("error");
                }).always(function () {
                });
            }
            //formatDate: function (textValue) {
            //    return moment(textValue).format("DD/MM/YYYY");
            //}
        };

        function loadHistory() {
            historyListVM.getList();
        }

        function clearSearch()
        {
            $("#txtSearch").val('');
            historyListVM.currentPageIndex(1);
            loadHistory();
        }

        function searchHistory(pageIndex)
        {
            var search = $("#txtSearch").val();
            historyListVM.currentPageIndex(pageIndex);
            historyListVM.getList(search);
        }

        function initPaging() {
            $('#paging-area').pagination({
                items: historyListVM.totalCount(),
                itemsOnPage: 15,
                cssStyle: 'light-theme',
                onPageClick: function (pageNumber) {
                    historyListVM.currentPageIndex(pageNumber);
                    var search = $("#txtSearch").val();
                    historyListVM.getList(search);
                }
            });
        }

        

    </script>
}
