@model IEnumerable<LCMS.Models.BookPlace.BookPlaceDetail>

@{
    ViewBag.Title = "ShowBookPlace";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<h2>Book Places </h2><br />
@if (Model != null && Model.Count() >0)
{
<table class="table">
    <tr>        
        <th>
            Place code
        </th>
        <th>
            Material type
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.PlaceCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialType)
        </td>
        <td>
            <a href="/BookPlace/CheckOutBook/@Html.DisplayFor(modelItem => item.Id)" class="btn-sm btn-info">Check Out</a>
        </td>
        
    </tr>
}

</table>
}
else
{
<h6>No Data Found!!!</h6>
}

@section Scripts {

    <script>

        $(document).ready(function () {
            toastShow();
        });

        function toastShow() {
                var msg = '@TempData["toast"]';
                var type = '@TempData["type"]';
                if (msg != '' && type != '') {
                    if (type == 'success')
                        toastr.success(msg);
                    else
                        toastr.error(msg);
                }
            }
    </script>
}